.Dask h5{
  display: inline-block;
  margin-right: 10em;
}
.Dask p{
  display: inline-block;
}
.Dask button{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  margin-left: 10px;
}